<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AppYapo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48C933671F2FE8D600DAC629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48C9337B1F2FE8D600DAC629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48C933861F2FE8D600DAC629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
